<div class="frontpage-wrapper">

    <section id="intro" class="section">
        <div class="sub">
            <div class="content">
                <div class="top-area">
                    <div class="inner">
                        <a class="scroll-down" href="#">
                            <img class="arrow"
                                 src="{{ base_path ~ directory }}/images/arrow.svg"
                                 alt="Arrow down"/></a>
                    </div>
                </div>
                <div class="bottom-area">
                    {% trans %} Two days of Drupal presentations, workshops and networking {% endtrans %}
                </div>
            </div>
        </div>
    </section>

    <div id="scroll-to-anchor"></div>

    <section id="tickets" class="section">
        <div class="sub">
            <div class="content">
                <div class="buy-tickets">
                    <a class="button" href="https://www.eventbrite.es/e/entradas-drupalcamp-spain-2018-43648758612"
                       target="_blank">{% trans %}Buy tickets{% endtrans %}</a>
                    <div class="content">
                        <h3>{% trans %}Come to Drupalcamp Spain{% endtrans %}</h3>
                        <div class="deadline">{% trans %}Get yourself listed as an attendee{% endtrans %}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="speakers" class="section">
        <div class="sub">
            <div class="content">
                <h2>{% trans %}Confirmed speakers{% endtrans %}</h2> {{ speakers }}
            </div>
        </div>
    </section>

    <section id="location" class="cd-section section fp-section fp-table active fp-completely">
        <div class="fp-tableCell">
            <div class="sub">
                <div class="content">
                    <div class="region region-region-2">
                        <div id="block-drupalcampblockforlandingaboutthelocation-2018"
                             class="contextual-region block block-dcamp block-dcamp-landing-about-location-block">
                            <h2>{% trans %}Venue{% endtrans %}</h2>
                            <div class="description">
                                <p>{% trans %}<a href="http://www.alicante.es/es/equipamientos/centro-cultural-cigarreras"
                                  target="_blank">Las Cigarreras</a> was Alicante's tobaco factory back in the
                                  19th century. It was re-purposed five years ago as a cultural and innovation center.{% endtrans %}
                                </p>
                                <p>{% trans %}The venue has everything that a DrupalCamp needs: an auditory, conference rooms,
                                    meeting areas for BoFs, a dinning area, plus a great location just a few minutes
                                    away from the city center.{% endtrans %}</p>
                                <a class = "button" href="{{ path('entity.node.canonical', {'node': 1}) }}">{% trans %}Survival guide{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="training" class="section">
        <div class="sub">
            <div class="content">
                <div class="buy-tickets">
                    <a class="button"
                       href="{{ path('entity.node.canonical', {'node': 70}) }}">{% trans %}Sign up{% endtrans %}</a>
                    <div class="content">
                        <h3>{% trans %}Free Drupal 8 workshops{% endtrans %}</h3>
                        <div class="deadline">{% trans %}Site building & backend development{% endtrans %}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="party" class="cd-section section fp-section fp-table active fp-completely">
        <div class="fp-tableCell">
            <div class="sub">
                <div class="content">
                    <div class="region region-region-2">
                        <div id="block-drupalcampblockforlandingaboutthelocation-2018"
                             class="contextual-region block block-dcamp block-dcamp-landing-about-location-block">
                            <h2>{% trans %}Saturday night party{% endtrans %}</h2>
                            <div class="description">
                                <p>{% trans %}In this edition we have the privilege to
                                    celebrate our famous Saturday Night Party at the Castle of Santa
                                    Bárbara.{% endtrans %}</p>
                                <a href="{{ path('entity.node.canonical', {'node': 71}) }}">{% trans %}More info{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="sponsors" class="section">
        <div class="sub">
            <div class="content">
                {{ sponsors }}
                {% if individual_sponsors %}
                    <div id="individual_sponsors" class="individual-sponsors">
                        <h3>Individual sponsors</h3>
                        <ul class="individual-sponsors__list">
                            {% for individual_sponsor in individual_sponsors %}
                                <li class="individual-sponsors__item">
                                    <a class="individual-sponsors__link" href="{{ individual_sponsor.getProfileUrl() }}"
                                       target="_blank">
                                        <img src="{{ individual_sponsor.getHeadshot() ?: default_headshot }}"
                                             class="individual-sponsors__img"/>
                                        <div class="individual-sponsors__name">{{ individual_sponsor.getName() }}</div>
                                        <div class="individual-sponsors__nick">({{ individual_sponsor.getNickname() }})
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    <section id="become-a-sponsor" class="section">
        <div class="sub">
            <div class="content">
                <h2>{% trans %}Become a sponsor{% endtrans %}</h2> {{ become_a_sponsor }}
            </div>
        </div>
    </section>

    <section id="business-day" class="section">
        <div class="sub">
            <img class="business-day-image" src="{{ base_path ~ directory }}/images/photos/business_day.jpg"/>
            <div class="content">
                <h2>{% trans %}Business day{% endtrans %}</h2>
                {{ business_day }}
            </div>
        </div>
    </section>

    <section id="community" class="section">
        <div class="sub">
            <div class="content">
                <div id="block-drupalcampblockforlandingaboutthecommunity-2018"
                     class="contextual-region block block-dcamp block-dcamp-landing-about-community-block">
                    <h2>{% trans %}Join the community{% endtrans %}</h2>
                    <div class="description">
                        {% trans %}
                            <p>The Spanish Drupal community grows every year. Companies, freelancers, and students are
                                part of one of the most influential families in the web industry.</p>{% endtrans %}
                    </div>
                    <a href="http://asociaciondrupal.es"
                       class="button">{% trans %}Join the Spanish Drupal Association{% endtrans %}</a>
                </div>
            </div>
        </div>
    </section>

</div>
