<div class="frontpage-wrapper">

    <section id="intro" class="section">
        <div class="sub">
            <div class="content">
                <div class="top-area">
                    <div class="inner">

                        {% if language == 'en' %}

                            <div class="quick-info">
                                <h2>Activities of the week:</h2>

                                <h3>Monday:</h3>
                                <p><strong>Surf + yoga courses</strong> from 6 to 9 April <a href="https://freeyourmindexperience.com/camp/drupal-surf-camp/" target="_blank">+info</a></p>

                                <h3>Tuesday:</h3>
                                <p><strong>Web development course (Site-building)</strong> from 8:00 to 14:00H at RECINTO LA CHANCA <a href="{{ path('entity.node.canonical', {'node': 70}) }}">+info</a></p>

                                <h3>Wednesday:</h3>
                                <p><strong>Web development course (Back-end)</strong> from 8:00 to 14:00H at RECINTO LA CHANCA <a href="{{ path('entity.node.canonical', {'node': 70}) }}">+info</a></p>

                                <h3>Thursday:</h3>
                                <p><strong>Web development course (Front-end)</strong> from 8:00 to 14:00H at RECINTO LA CHANCA <a href="{{ path('entity.node.canonical', {'node': 70}) }}">+info</a></p>
                                <p><strong>Business day</strong> from 10hs at Iglesia de Santa Catalina <a href="{{ path('entity.node.canonical', {'node': 35}) }}">+info</a></p>
                                <p><strong>Splash Awards</strong> from 18h to 22h at Iglesia de Santa Catalina <a href="https://splashawards.es/" target="_blank">+info</a></p>

                                <h3>Friday</h3>
                                <p><strong>DrupalCampSpain</strong> from 10hs to 18hs (Schedule available from 17th April)
                                <p><strong>Drupal party 1º 🥳</strong> en <a href="https://www.facebook.com/ChsssConil/" target="_blank">Chsss Conil</a> from 23hs <a href="https://goo.gl/maps/u3qMVpSgZ2U2">Location</a></p>

                                <h3>Saturday:</h3>
                                <p><strong>DrupalCampSpain</strong> from 10hs to 18hs (Schedule available from 17th April)
                                <p><strong>Drupal party 2º 🥳</strong> en <a href="https://www.facebook.com/ChsssConil/" target="_blank">Chsss Conil</a> from 23hs <a href="https://goo.gl/maps/u3qMVpSgZ2U2">Location</a></p>

                                <h3>Sunday:</h3>
                                <p><strong>Cultural visit to the village of Conil</strong> Will be organized at the <br>DrupalCamp's telegram group on the same day <a href="https://t.me/joinchat/AGU1QUKeqKocZJ0_6D9WAA">Access to the group</a>.

                            </div>

                        {% else %}

                            <div class="quick-info">
                                <h2>Actividades de la semana:</h2>

                                <h3>Lunes:</h3>
                                <p><strong>Cursos de surf + yoga</strong> del 6 al 9 de abril <a href="https://freeyourmindexperience.com/camp/drupal-surf-camp/" target="_blank">+info</a></p>

                                <h3>Martes:</h3>
                                <p><strong>Curso de desarrollo web (Site-building)</strong> de 8:00 A 14:00H <br>en el recinto RECINTO LA CHANCA <a href="{{ path('entity.node.canonical', {'node': 70}) }}">+info</a></p>

                                <h3>Miercoles:</h3>
                                <p><strong>Curso de desarrollo web (Back-end)</strong> de 8:00 A 14:00H <br>en el recinto RECINTO LA CHANCA <a href="{{ path('entity.node.canonical', {'node': 70}) }}">+info</a></p>

                                <h3>Jueves:</h3>
                                <p><strong>Curso de desarrollo web (Front-end)</strong> de 8:00 A 14:00H <br>en el recinto RECINTO LA CHANCA <a href="{{ path('entity.node.canonical', {'node': 70}) }}">+info</a></p>
                                <p><strong>Business day</strong> desde las 10hs en la Iglesia de Santa Catalina <a href="{{ path('entity.node.canonical', {'node': 35}) }}">+info</a></p>
                                <p><strong>Splash Awards</strong> de 18h a 22h en Iglesia de Santa Catalina <a href="https://splashawards.es/" target="_blank">+info</a></p>

                                <h3>Viernes</h3>
                                <p><strong>DrupalCampSpain</strong> de 10hs a 18hs <br> (Calendario de ponencias disponibles desde el día 17 de abril)
                                <p><strong>Fiesta drupalera 1º parte 🥳</strong> en <a href="https://www.facebook.com/ChsssConil/" target="_blank">Chsss Conil</a> a partir de las 23hs <a href="https://goo.gl/maps/u3qMVpSgZ2U2">Ubicación</a></p>

                                <h3>Sábado:</h3>
                                <p><strong>DrupalCampSpain</strong> 10hs a las 18hs <br> (Calendario de ponencias disponibles desde el día 17 de abril)
                                <p><strong>Fiesta drupalera 2º parte 🥳</strong> en <a href="https://www.facebook.com/ChsssConil/" target="_blank">Chsss Conil</a> a partir de las 23hs <a href="https://goo.gl/maps/u3qMVpSgZ2U2">Ubicación</a></p>


                                <h3>Domingo:</h3>
                                <p><strong>Visita cultural a la villa de Conil</strong> Se organizará por el grupo de telegram <br>en el mismo día <a href="https://t.me/joinchat/AGU1QUKeqKocZJ0_6D9WAA">Acceder al grupo</a>.

                            </div>

                        {% endif %}



                        <a class="scroll-down" href="#">
                            <img class="arrow"
                                 src="{{ base_path ~ directory }}/images/arrow.svg"
                                 alt="Arrow down"/></a>
                    </div>
                </div>
                <div class="bottom-area">
                    {% trans %}One week of Drupal presentations, trainings and networking{% endtrans %}
                </div>
            </div>
        </div>
    </section>

    <div id="scroll-to-anchor"></div>

    <section id="tickets" class="section">
        <div class="sub">
            <div class="content">
                <div class="buy-tickets">
                    <a class="button" href="https://www.eventbrite.es/e/entradas-drupalcamp-spain-2019-55019035416"
                       target="_blank">{% trans %}Buy tickets{% endtrans %}</a>
                    <div class="content">
                        <h3>{% trans %}Come to Drupalcamp Spain{% endtrans %}</h3>
                        <div class="deadline">{% trans %}Get yourself listed as an attendee{% endtrans %}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="speakers" class="section">
        <div class="sub">
            <div class="content">
                <h2>{% trans %}Featured speakers{% endtrans %}</h2>{{ speakers }}
            </div>
        </div>
    </section>

    <section id="become-a-sponsor" class="section">
        <div class="sub">
            <div class="content">
                <h2>{% trans %}Become a sponsor{% endtrans %}</h2> {{ become_a_sponsor }}
            </div>
        </div>
    </section>

    <section id="venues" class="cd-section section fp-section fp-table active fp-completely">
        <div class="fp-tableCell">
            <div class="sub">
                <div class="content">
                    <div class="region region-region-2">
                        <div id="block-drupalcampblockforlandingaboutthelocation-2018"
                             class="contextual-region block block-dcamp block-dcamp-landing-about-location-block">
                            <h2>{% trans %}Submit your Session{% endtrans %}</h2>
                            <div class="description">
                                <p>{% trans %}Call for papers is open. Submit your session as soon as possible so we can select the most optimal for this edition. Sessions can be of any leven and in Spanish or English. Feel free to contact us if you need any help submitting or preparing your session, we will be glad to support you.{% endtrans %}</p>
                                <a class="button" href="https://docs.google.com/forms/d/e/1FAIpQLScxHHPbOIin_6N0Oeft9aqVQN8iUo9JZREk_VqPwGbHvVuaLg/viewform">{% trans %}Session Submission Form{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="training" class="section">
        <div class="sub">
            <div class="content">
                <div class="buy-tickets">
                    <a class="button"
                       href="{{ path('entity.node.canonical', {'node': 70}) }}">{% trans %}Sign up{% endtrans %}</a>
                    <div class="content">
                        <h3>{% trans %}Free Drupal 8 Trainings{% endtrans %}</h3>
                        <div class="deadline">{% trans %}Site building, frontend and backend development{% endtrans %}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="location" class="cd-section section fp-section fp-table active fp-completely">
        <div class="fp-tableCell">
            <div class="sub">
                <div class="content">
                    <div class="region region-region-2">
                        <div id="block-drupalcampblockforlandingaboutthelocation-2018"
                             class="contextual-region block block-dcamp block-dcamp-landing-about-location-block">
                            <h2>{% trans %}Social Activities{% endtrans %}</h2>
                            <div class="description">
                                <p>{% trans %}There will be different options of entertainment for both you and your family during the conference. Apart of the great weather expected, you will find the following activities available:{% endtrans %}
                                </p>
                                <p>
                                <ul class=>
                                    <li>{% trans %}Wild Red Tuna Tapas Route{% endtrans %}</li>
                                    <li>{% trans %}<a href="https://drupal.surf" target="_blank">Drupal.Surf</a>{% endtrans %}</li>
                                    <li>{% trans %}<a href="https://splashawards.es/">1st Splash Awards Spain</a>{% endtrans %}</li>
                                </ul>
                                </p>
                                <a class="button" href="{{ path('entity.node.canonical', {'node': 1}) }}">{% trans %}Social guide{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="business-day" class="section">
        <div class="sub">
            <img class="business-day-image" src="{{ base_path ~ directory }}/images/photos/business_day.jpg"/>
            <div class="content">
                <h2>{% trans %}Business day{% endtrans %}</h2>
                {{ business_day }}
            </div>
        </div>
    </section>

    <section id="party" class="cd-section section fp-section fp-table active fp-completely">
        <div class="fp-tableCell">
            <div class="sub">
                <div class="content">
                    <div class="region region-region-2">
                        <div id="block-drupalcampblockforlandingaboutthelocation-2018"
                             class="contextual-region block block-dcamp block-dcamp-landing-about-location-block">
                            <h2>{% trans %}Family in Drupal{% endtrans %}</h2>
                            <div class="description">
                                <p>{% trans %}In this edition we are organising a side-event for the people accompanying the attendees. Bring your family to DrupalCamp Spain and let them meet new people while your are attending the conference, learning, networking or closing a business deal. We will take good care of them and we will be sure this experience will be unique. Fill the following form so we know what kind of people are attending and the activities they are interested in.{% endtrans %}</p>
                                <a class="button" href="https://docs.google.com/forms/d/e/1FAIpQLSe0bkmyfIav_GUJnyFjsWEZ-gKUWH9_qMHMZ69yMaE9u1FwwA/viewform">{% trans %}Fill the Form{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="business-day" class="section">
        <div class="sub">
            <img class="splashawards-image" src="{{ base_path ~ directory }}/images/photos/splashawards.jpg"/>
            <div class="content">
                <h2>{% trans %}Splash Awards{% endtrans %}</h2>
                <p>This year we will host the First Splash Awards Spain. Stay tuned for the launch of the website where you can submit the website candidates to be selected for the awards. You can also sponsor this event. Contact us if you are interested.</p>
            </div>
        </div>
    </section>

    <section id="party" class="cd-section section fp-section fp-table active fp-completely">
        <div class="fp-tableCell">
            <div class="sub">
                <div class="content">
                    <div class="region region-region-2">
                        <div id="block-drupalcampblockforlandingaboutthelocation-2018"
                             class="contextual-region block block-dcamp block-dcamp-landing-about-location-block">
                            <h2>{% trans %}Networking{% endtrans %}</h2>
                            <div class="description">
                                <p>{% trans %}We will celebrate a Welcome party on Friday night and a Closing party on Saturday night. There will be susprises so you shouldn't miss them!{% endtrans %}</p>
                                <a class="button" href="{{ path('entity.node.canonical', {'node': 71}) }}">{% trans %}Party guide{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="sponsors" class="section">
        <div class="sub">
            <div class="content">
                {{ sponsors }}
                {% if individual_sponsors %}
                    <div id="individual_sponsors" class="individual-sponsors">
                        <h3>Individual sponsors</h3>
                        <ul class="individual-sponsors__list">
                            {% for individual_sponsor in individual_sponsors %}
                                <li class="individual-sponsors__item">
                                    <a class="individual-sponsors__link" href="{{ individual_sponsor.getProfileUrl() }}"
                                       target="_blank">
                                        <img src="{{ individual_sponsor.getHeadshot() ?: default_headshot }}"
                                             class="individual-sponsors__img"/>
                                        <div class="individual-sponsors__name">{{ individual_sponsor.getName() }}</div>
                                        <div class="individual-sponsors__nick">({{ individual_sponsor.getNickname() }})
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    <section id="community" class="section">
        <div class="sub">
            <div class="content">
                <div id="block-drupalcampblockforlandingaboutthecommunity-2018"
                     class="contextual-region block block-dcamp block-dcamp-landing-about-community-block">
                    <h2>{% trans %}Join the community{% endtrans %}</h2>
                    <div class="description">
                        {% trans %}
                            <p>The Spanish Drupal community grows every year. Companies, freelancers, and students are
                                part of one of the most influential families in the web industry.</p>{% endtrans %}
                    </div>
                    <a href="https://asociaciondrupal.es/content/hazte-socio"
                       class="button">{% trans %}Join the Spanish Drupal Association{% endtrans %}</a>
                </div>
            </div>
        </div>
    </section>

</div>
