{#
/**
 * @file
 * Custim theme implementation for an sessions detail.
 *
 * Available variables:
 * - session: Session (object)
 */
#}
<div class="session">

  <div class="session-content">
    <h1 class="session__title">{{ session.getTitle }}</h1>
    <div class="session__meta">
      <span class="session__type">{{ session.getType }}</span>
      <span class="session__level">{{ session.getLevel }}</span>
      <span class="session__language">{{ session.getLanguage }}</span>
    </div>
    <div class="session__description">
      {{ session.getDescription }}
    </div>
  </div>

  <div class="session-sidebar">
    <div class="session__author">
      {% if session.getAuthorsPhoto %}
        <div class="authors-photo__mask">
          <img src="{{ session.getAuthorsPhoto }}" class="authors-photo"/>
        </div>
      {% endif %}
      <span class="authors-name">{{ session.getAuthorsName }}</span>
      {% if session.getAuthorsDrupalName or session.getAuthorsTwitter%}
      <div class="authors-meta">
        {% if session.getAuthorsDrupalName %}
          <a href="{{ session.getAuthorsDrupalName }}" class="authors-drupal">
            Drupal's profile of {{ session.getAuthorsName }}
          </a>
        {% endif %}
        {% if session.getAuthorsTwitter %}
          <a href="{{ session.getAuthorsTwitter }}" class="authors-twitter">
            Twitter's profile of {{ session.getAuthorsName }}
          </a>
        {% endif %}
      </div>
      {% endif %}
      {% if session.getAuthorsBio %}
        <div class="authors-bio">{{ session.getAuthorsBio }}</div>
      {% endif %}
    </div>
  </div>
</div>
