{#
/**
 * @file
 * Custim theme implementation for an sessions detail.
 *
 * Available variables:
 * - session: Session (object)
 */
#}
<div class="session">
  <div class="session-sidebar">
    <h1 class="session__title">{{ session.getTitle }}</h1>
  </div>

  <div class="session__author">
    {% if session.getAuthorsPhoto %}
      <img src="{{ session.getAuthorsPhoto }}" class="author-sphoto" />
    {% endif %}
    <span class="authors-name">{{ session.getAuthorsName }}</span>
    {% if session.getAuthorsDrupalName %}
      <a href="{{ session.getAuthorsDrupalName }}" class="authors-drupal">Drupal's profile of {{ session.getAuthorsName }}</a>
    {% endif %}
    {% if session.getAuthorsTwitter %}
      <a href="{{ session.getAuthorsTwitter }}" class="authors-twitter">Twitter's profile of {{ session.getAuthorsName }}</a>
    {% endif %}
    {% if session.getAuthorsBio %}
      <div class="authors-bio">{{ session.getAuthorsBio }}</div>
    {% endif %}
  </div>
  <div class="session-content">
    <div class="session-meta">
      <span class="session-type">{{ session.getType }}</span>
      <span class="session-level">{{ session.getLevel }}</span>
      <span class="session-level">{{ session.getLanguage }}</span>
    </div>
    <div class="session__description">
      {{ session.getDescription }}
    </div>
  </div>
</div>
