{#
/**
 * @file
 * Custom theme implementation for an sessions detail.
 *
 * Available variables:
 * - session: Session (object)
 */
#}
<div class="session">

  <div class="session-content">
    <h1 class="session__title">{{ session.getTitle }}</h1>
    <div class="session__meta">
      <span class="session__type">{{ session.getType }}</span>
      <span class="session__level">{{ session.getLevel }}</span>
      <span class="session__language">{{ session.getLanguage }}</span>
    </div>
    <div class="session__description">
      {{ session.getDescription | nl2br }}
    </div>
  </div>

  <div class="session-sidebar">
    <div class="session__author">
      {% if session.getHeadshot %}
        <div class="authors-photo__mask">
          <img src="{{ session.getHeadshot }}" class="authors-photo"/>
        </div>
      {% endif %}
      <span class="authors-name">{{ session.getName }}</span>
      {% if session.getDrupal or session.getTwitter %}
      <div class="authors-meta">
        {% if session.getDrupal %}
          <a href="{{ session.getDrupalUrl(session.getDrupal) }}" class="authors-drupal">
            {{ session.getAuthorsName }}
          </a>
        {% endif %}
        {% if session.getTwitter %}
          <a href="{{ session.getTwitterUrl(session.getTwitter) }}" class="authors-twitter">
            {{ session.getAuthorsName }}
          </a>
        {% endif %}
      </div>
      {% endif %}
      {% if session.getBio %}
        <div class="authors-bio">{{ session.getBio | nl2br }}</div>
      {% endif %}
    </div>
  </div>
</div>
