{#
/**
 * @file
 * Custom theme implementation for an sessions detail.
 *
 * Available variables:
 * - session: Session (object)
 */
#}
<div class="session--full">

  <article class="node__content-wrapper">
    {#
    {% if session.getHeadshot %}
      <header>
        <div class="author__photo-mask">
          <img src="{{ session.getHeadshot }}" class="author__photo"/>
        </div>
      </header>
    {% endif %}
    #}
    <aside class="node__header clearfix">
      <h1 class="session__title">{{ session.getTitle }}</h1>
      <div class="session__author">

        <h2 class="author__name">{{ session.getName }}</h2>
        {% if session.getDrupal or session.getTwitter %}
        <div class="author__meta">
          {% if session.getDrupal %}
            <a href="{{ session.getDrupalUrl(session.getDrupal) }}" class="author__drupal">
              {{ session.getAuthorsName }}
            </a>
          {% endif %}
          {% if session.getTwitter %}
            <a href="{{ session.getTwitterUrl(session.getTwitter) }}" class="author__twitter">
              {{ session.getAuthorsName }}
            </a>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </aside>

    <div class="node__content">
      <div class="session__meta">
        <div class="session__type">
          <span class="session__label">{{ 'Session type'|trans }}:</span>
          {{ session.getType }}
        </div>
        <div class="session__level">
          <span class="session__label">{{ 'Session level'|trans }}:</span>
          {{ session.getLevel }}
        </div>
        <div class="session__language">
          <span class="session__label">{{ 'Session language'|trans }}:</span>
          {{ session.getLanguage }}
        </div>
      </div>
      <div class="session__description">
        {{ session.getDescription | nl2br }}
      </div>
      {% if session.getBio %}

        <div class="author__bio">
          <div class="author__bio-label">{{ 'Author bio'|trans }}</div>
          <div class="author__bio-text">{{ session.getBio | nl2br }}</div>
        </div>
      {% endif %}
    </div>

  </article>

</div>
