{#
/**
 * @file
 *
 * Lists attenddees.
 *
 * Available variables:
 * - attendeees: a list of Attendee objects.
 */
#}

<section class="teaser-list__page">

  <h1 class="teaser-list__page-title">{{ 'Attendees'|trans }}</h1>

  {%- if attendees -%}
    <ul class="teaser-list--small">
      {%- for attendee in attendees -%}
        <li class="teaser-list__item--small">
          <div class="attendee__headshot"><img src="{{ attendee.getHeadshot() ?: default_headshot  }}"/></div>
          <h2 class="attendee__title">{{ attendee.getName }}</h2>
          <h3 class="attendee__subtitle">{{ attendee.getCompany }}</h3>
        </li>
      {%- endfor -%}
    </ul>
  {%- else -%}
    {{- empty -}}
  {%- endif -%}
</section>
