<div class="schedule-wrapper">


  <div class="node__header">
    <h1>{{ title }}</h1>
  </div>

  <div class="inner">
    <h2>{% trans %}Friday{% endtrans %}</h2>

    <div class="legend">
      <div class="basic">{% trans %}Basic{% endtrans %}</div>
      <div class="intermediate">{% trans %}Intermediate{% endtrans %}</div>
      <div class="advanced">{% trans %}Advanced{% endtrans %}</div>
      <div class="featured">{% trans %}Featured{% endtrans %}</div>
      <div class="sponsored">{% trans %}Sponsored{% endtrans %}</div>
      <div class="lightning">{% trans %}Lightning{% endtrans %}</div>
      <div class="english">{% trans %}English{% endtrans %}</div>
    </div>

    <!-- Friday Schedule -->
    <table>

      <thead>
      <tr>
        <th scope="row">&nbsp;</th>
        <th scope="col">Caja de la música (240)</th>
        <th scope="col">Caja negra (200)</th>
        <th scope="col">Sala CAMON (60)</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">09:00</th>
        <td colspan="3">{% trans %}Registration - Badge Pick-Up{% endtrans %}</td>
      </tr>
      <tr>
        <th scope="row">09:30</th>
        <td>{% trans %}Opening session{% endtrans %}</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th scope="row">10:00</th>
        <td class="featured basic">
          <a href="#"
             target="_blank">{{ 'Session'|t }} <span
                    class="author"> {{ 'by'|t }} Preston So</span></a>
          <span class="featured"></span>
        </td>
        <td class="intermediate"><a href="https://2018.drupalcamp.es/sessions/elasticsearch-101-isholgueras"
                                    target="_blank">Elasticsearch 101 <span
                    class="author"> {{ 'by'|t }} Ignacio Sánchez</span></a>
          <span class="intermediate"></span>
        </td>
        <td class="basic">
          <a href="#" target="_blank">Disponible <span
                    class="author"> {{ 'by'|t }} Anónimo</span>
          </a>
          <span class="basic"></span>
        </td>
      </tr>
      <tr>
        <th scope="row">10:45</th>
        <td  colspan="3">Descanso / Break</td>
      </tr>
      <tr>
        <th scope="row">11:00</th>
        <td>
          <a href="/sessions/headless-drupal-rteijeiro"
             target="_blank">Headless Drupal <span
                class="author"> {{ 'by'|t }} Ruben <Teijeiro></Teijeiro></span>
          </a>
          <span class="intermediate"></span>
        </td>
        <td>
          <a href="/sessions/programacion-reactiva-lidiando-con-la-asincronia-sanzante" target="_blank">Programación reactiva: lidiando con la asincronía <span
                class="author"> {{ 'by'|t }} Ricardo Sanz Ante</span>
          </a>
          <span class="intermediate"></span>
        </td>
        <td>
          <a href="/sessions/utilizando-drupal-como-lms-xapi-learning-record-store-martinrayo" target="_blank">Utilizando Drupal como LMS + API + Learning record store <span
                    class="author"> {{ 'by'|t }} Raúl Bordallo</span>
          </a>
          <span class="basic"></span>
        </td>
      </tr>
      <tr class="break">
        <th scope="row">11:45</th>
        <td colspan="3">Cafe'/ Coffee</td>
      </tr>
      <tr>
        <th scope="row">12:30</th>
        <td>
          <a href="#" target="_blank">{{ 'Session'|t }} <span class="author"> {{ 'by'|t }} Laura Bonmatí</span>
          </a>
          <span class="featured"></span>
        </td>
        <td>
          <a href="/sessions/construyendo-un-motor-de-recomendaciones-con-d8-y-solr-estoyausente"
             target="_blank">Construyendo un motor de recomendaciones con D8 y Solr <span
                class="author"> {{ 'by'|t }} Samuel Solís</span>
          </a>
          <span class="intermediate"></span>
        </td>
        <td class="basic">
          <a href="/sessions/el-trabajo-en-remoto-desde-diferentes-puntos-de-vista" target="_blank">El trabajo en remoto desde diferentes puntos de vista <span
                    class="author"> {{ 'by'|t }} Álvaro Hurtado, Ela Meier {{ 'and'|t }} Rubén Egiguren</span>
          </a>
          <span class="basic"></span>
        </td>
      </tr>
      <tr>
        <th scope="row">13:15</th>
        <td colspan="3">Descanso / Break</td>
      </tr>
      <tr>
        <th scope="row">13:30</th>
        <td>
          <a href="/sessions/csi-autopsia-de-vulnerabilidades-rabbitlair" target="_blank">CSI: Autopsia de vulnerabilidades
            <span class="author"> {{ 'by'|t }} Zequi Vázquez</span>
          </a>
          <span class="intermediate"></span>
        </td>
        <td class="intermediate">
          <a href="/sessions/masticando-requisitos-como-hacer-mas-facil-la-vida-al-desarrollador-y-al-cliente-rvilar" target="_blank">Masticando requisitos: cómo hacer más fácil la vida al desarrollador y al cliente
            <span class="author"> {{ 'by'|t }} Ramón Vilar</span>
          </a>
        </td>
        <td>
          <a href="/sessions/docker-subete-al-barco-de-las-herramientas-de-desarrollo-estandar-marinero"
             target="_blank">Docker: súbete al barco de las herramientas de desarrollo estándar. <span
                    class="author"> {{ 'by'|t }} Rodrigo Aguilera {{ 'and'|t }} Diego Marrufos</span>
          </a>
          <span class="basic"></span>
        </td>
      </tr>
      <tr class="break">
        <th scope="row">14:15</th>
        <td colspan="3">{% trans %}Group photo{% endtrans %}</td>
      </tr>
      <tr class="break">
        <th scope="row">14:30</th>
        <td colspan="3">{% trans %}Lunch time{% endtrans %}</td>
      </tr>
      <tr>
        <th rowspan="3" scope="row">15:30</th>
        <td><a href="/sessions/envio-de-correos-transaccionales-sin-caer-spam-en-el-intento-isholgueras" target="_blank">Envío de correos transaccionales sin caer (a spam) en el intento
            <span class="author"> {{ 'by'|t }} Ignacio Sánchez Holgueras</span></a>
          <span class="lightning"></span>
          <span class="intermediate"></span>
        </td>
        <td><a
              href="/sessions/caso-de-uso-configsplit-como-alternativa-multisites-jjcarrion"
              target="_blank">Caso de uso: Config_split como alternativa a multisites. <span
                class="author"> {{ 'by'|t }} José Jiménez Carrión</span></a>
          <span class="lightning"></span>
          <span class="intermediate"></span>
        </td>
        <td rowspan="3" scope="row">
          <a href="/sessions/contribuir-drupal-por-donde-comenzar-de-0-100-regiguren"
             target="_blank">Contribuir a Drupal, por donde comenzar de 0 a 100
            <span class="author"> {{ 'by'|t }} Rubén Egiguren</span></a>
          <span class="basic"></span>
        </td>
      </tr>
      <tr>
        <td><a
              href="/sessions/checking-your-sites-health-monitoring-plopesc">
            Checking your site's health with Monitoring
            <span class="author"> {{ 'by'|t }} Pablo López</span></a>
          <span class="lightning"></span>
          <span class="intermediate"></span>
        </td>
        <td>
          <a href="/sessions/muerte-al-javascript-larga-vida-al-javascript-sanzante"
             target="_blank">¡Muerte al JavaScript, larga vida al JavaScript! <span
                class="author"> {{ 'by'|t }} Ricardo Sanz Ante</span></a>
          <span class="lightning"></span>
          <span class="intermediate"></span>
        </td>
      </tr>
      <tr>
        <td><a href="/sessions/integracion-continua-con-circleci-para-drupal-8-regiguren"
                                                      target="_blank">Integración continua con CircleCI para Drupal 8
            <span class="author"> {{ 'by'|t }} Rubén Egiguren</span></a>
          <span class="lightning"></span>
          <span class="basic"></span>
        </td>
        <td><a
              href="/sessions/drush-9-creemos-un-comando-en-10-minutos-capynet"
              target="_blank">Drush 9 creemos un comando en 10 minutos
            <span>Marcelo Tosco</span></a>
          <span class="lightning"></span>
          <span class="intermediate"></span>
        </td>
      </tr>
      <tr>
        <th scope="row">16:15</th>
        <td  colspan="3">Descanso / Break</td>
      </tr>
      <tr>
        <th scope="row">16:30</th>
        <td><a
              href="/sessions/seleccionando-un-cms-para-la-transformacion-por-que-drupal-javierespadas"
              target="_blank">{{ 'Session'|t }} <span class="author"> {{ 'by'|t }}
              Pedro González</span></a>
          <span class="featured"></span>
        </td>
        <td>
          <a href="E2E Testing con Nightwatch.js"
             target="_blank">E2E Testing con Nightwatch.js<span class="author"> {{ 'by'|t }} Salvador Molina</span></a>
          <span class="intermediate"></span>
        </td>
        <td>
          <a href="/sessions/tu-drupal-esta-listo-lo-sabe-google-beagonpoz"
             target="_blank">¡Ojo al dato!: Cómo evitar microinfartos a la gente de marketing
            <span class="author"> {{ 'by'|t }} Beatriz González</span></a>
          <span class="basic"></span>
        </td>
      </tr>
      <tr>
        <th scope="row">17:15</th>
        <td colspan="3"><a href="{{ path('entity.node.canonical', {'node': 50}) }}" target="_blank">{% trans %}Spanish
            Drupal Association assembly{% endtrans %}</a>
        </td>
      </tr>
      </tbody>
    </table>

    <!-- Saturday Schedule -->
    <h2>{% trans %}Saturday{% endtrans %}</h2>
    <div class="legend">
      <div class="basic">{% trans %}Basic{% endtrans %}</div>
      <div class="intermediate">{% trans %}Intermediate{% endtrans %}</div>
      <div class="advanced">{% trans %}Advanced{% endtrans %}</div>
      <div class="featured">{% trans %}Featured{% endtrans %}</div>
      <div class="sponsored">{% trans %}Basic{% endtrans %}</div>
      <div class="lightning">{% trans %}Lightning{% endtrans %}</div>
      <div class="english">{% trans %}English{% endtrans %}</div>
    </div>
    <table align="center" summary="Saturday">

      <thead>
      <tr>
        <th scope="row">&nbsp;</th>
        <th scope="col">Auditorio (170)</th>
        <th scope="col">Cine (75)</th>
        <th scope="col">Polivalente (45)</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">09:00</th>
        <td class="english basic"><a href="/sessions/bdd-behavior-driven-development-jltutor" target="_blank">BDD:
            Desarrollo guiado por comportamiento <span class="author"> {{ 'by'|t }} Jorge Tutor</span></a>
          <span class="english"></span>
          <span class="basic"></span>
        </td>
        <td class="intermediate">
          <a
                  href="/sessions/todo-lo-que-hay-que-saber-para-enfrentarte-al-marketing-automation-cocinaitaliana"
                  target="_blank">Todo lo que hay que saber para enfrentarte al Marketing Automation <span
                    class="author"> {{ 'by'|t }} Claudia Giommarini</span>
          </a>
          <span class="intermediate"></span>
        </td>
        <td class="intermediate"><a href="/sessions/drupal-instantaneo-con-service-workers-asilgag" target="_blank">Drupal
            instantáneo con Service Workers <span class="author"> {{ 'by'|t }} Alberto Silva</span></a>

          <span class="intermediate"></span>
        </td>
      </tr>
      <tr>
        <th scope="row">10:00</th>
        <td class="english featured intermediate"><a href="/sessions/adventures-apis-justafish" target="_blank">Adventures
            in
            APIs <span class="author"> {{ 'by'|t }} Sally Young</span></a>
          <span class="english"></span>
          <span class="featured"></span>
          <span class="intermediate"></span>
        </td>
        <td class="basic"><a href="/sessions/extreme-page-composition-paragraphs-sidddi" target="_blank">Extreme page
            composition with paragraphs <span class="author"> {{ 'by'|t }} Siddharta Navarro Castellar</span></a>
          <span class="basic"></span>
        </td>
        <td class="na"><a
              href="/sessions/grandes-proyectos-desde-la-perspectiva-de-una-pequena-empresa-ii-como-retenerlos-rvilar"
              target="_blank">Grandes proyectos desde la perspectiva de una pequeña empresa II: cómo retenerlos <span
                class="author"> {{ 'by'|t }} Ramon Vilar Gavaldà</span></a>
          <span class="na"></span>
        </td>
      </tr>
      <tr class="break">
        <th scope="row">11:00</th>
        <td colspan="3">{% trans %}Coffee break{% endtrans %}</td>
      </tr>
      <tr>
        <th scope="row">11:30</th>
        <td class="english featured basic"><a href="/sessions/responsive-images-under-control-chumillas"
                                              target="_blank">Responsive
            Images under control <span class="author"> {{ 'by'|t }} Cristina Chumillas</span></a>
          <span class="english"></span>
          <span class="featured"></span>
          <span class="basic"></span>
        </td>
        <td class="intermediate"><a
              href="/sessions/search-api-solr-en-drupal-8-bases-practicas-para-encontrar-lo-buscado-tuwebo"
              target="_blank">Search Api Solr en Drupal 8, bases prácticas para encontrar lo buscado <span
                class="author"> {{ 'by'|t }} Agustín Gómez Iglesias</span></a>
          <span class="intermediate"></span>
        </td>
        <td class="basic"><a href="/sessions/el-poder-de-webform-antes-yamform-regiguren" target="_blank">El poder de
            Webform (antes YamForm) <span class="author"> {{ 'by'|t }} Ruben Egiguren y/o David Gil</span></a>
          <span class="basic"></span>
        </td>
      </tr>
      <tr>
        <th scope="row">12:30</th>
        <td class="english intermediate"><a href="/sessions/headless-drupal-gizra-way-davidbaltha" target="_blank">Headless
            Drupal: The Gizra Way <span class="author"> {{ 'by'|t }} David Hernández Ruiz</span></a>
          <span class="english"></span>
          <span class="intermediate"></span>
        </td>
        <td class="basic"><a
              href="/sessions/patrones-de-diseno-inclusivos-como-abordar-la-accesibilidad-en-el-desarrollo-de-temas-personalizados">Patrones
            de diseño inclusivos: como abordar la accesibilidad en el desarrollo de temas personalizados en Drupal 8 by
            <span>Víctor Rodríguez Lledó</span></a>
          <span class="basic"></span>
        </td>
        <td class="intermediate"><a href="/sessions/iniciacion-al-profiling-con-webprofiler-kikoalonsob"
                                    target="_blank">Iniciación
            al profiling con Webprofiler <span class="author"> {{ 'by'|t }} Francisco Alonso</span></a>
          <span class="intermediate"></span>
        </td>
      </tr>
      <tr class="break">
        <th scope="row">13:30</th>
        <td colspan="3"><a href="{{ path('entity.node.canonical', {'node': 46}) }}">{% trans %}Lunchtime
            break{% endtrans %}</a></td>
      </tr>
      <tr>
        <th rowspan="3" scope="row">15:30</th>
        <td rowspan="3" class="na"><a href="/sessions/pretendiendo-ser-rockstar-developers-juanolalla">Pretendiendo ser
            rockstar developers <span class="author"> {{ 'by'|t }} Juan Olalla</span></a>
          <span class="na"></span>
        </td>
        <td class="lightning basic"><a
              href="/sessions/el-grupo-de-trabajo-de-documentacion-en-espanol-te-necesita-skuark"
              target="_blank">El grupo de trabajo de documentación en Español te necesita <span
                class="author"> {{ 'by'|t }} Jesús Manuel García Muñoz</span></a>
          <span class="lightning"></span>
          <span class="basic"></span>
        </td>
        <td rowspan="3"><a href="/sessions/taller-agile-jugando-con-pos-it-y-gomets-martinrayo"
                                    target="_blank">Taller Agile: Jugando con Pos-it y Gomets.<span
                    class="author"> {{ 'by'|t }} Raúl Bordallo</span></a>
          <span class="sponsored"></span>
        </td>
      </tr>
      <tr>
        <td class="lightning intermediate"><a href="/sessions/pierdele-el-miedo-drupal-console-kikoalonsob"
                                              target="_blank">Piérdele
            el miedo a Drupal Console <span class="author"> {{ 'by'|t }} Francisco Alonso</span></a>
          <span class="lightning"></span>
          <span class="intermediate"></span>
        </td>
      </tr>
      <tr>
        <td class="lightning intermediate"><a href="/sessions/pruebas-de-carga-web-con-gatling-jonhattan"
                                              target="_blank">Pruebas
            de carga web con Gatling <span class="author"> {{ 'by'|t }} Jonathan Araña Cruz</span></a>
          <span class="lightning"></span>
          <span class="intermediate"></span>
        </td>
      </tr>
      <tr>
        <th scope="row">16:30</th>
        <td class="intermediate english"><a
              href="/sessions/scrum-master-story-hackathons-scrum-agile-and-chicken-nancyvb"
              target="_blank">A Scrum Master story; Hackathons, Scrum, Agile and chicken by
            <span>Nancy Beers</span></a>
          <span class="intermediate"></span>
          <span class="english"></span>
        </td>
        <td class="intermediate"><a
              href="/sessions/introduccion-al-modulo-ui-patterns-usando-atomic-ui-components-en-drupal8-nicolasbottini"
              target="_blank">Introducción al módulo UI Patterns: Usando atomic UI Components en Drupal8 <span
                class="author"> {{ 'by'|t }} Nicolás Bottini Turín</span></a>
          <span class="intermediate"></span>
        </td>
        <td class="basic">
          <a href="/sessions/contribuir-drupal-por-donde-comenzar-de-0-100-regiguren" target="_blank">Contribuir
            a Drupal, por donde comenzar de 0 a 100 <span class="author"> {{ 'by'|t }} Ruben Egiguren</span></a>
          <span class="basic"></span>
        </td>
      </tr>
      <tr>
        <th scope="row">17:30</th>
        <td class="english intermediate"><a
              href="/sessions/debugging-profiling-rocking-out-browser-based-developer-tools-mikeherchel"
              target="_blank">Debugging,
            Profiling, &amp; Rocking Out with Browser-Based Developer Tools! <span class="author"> {{ 'by'|t }} Mike Herchel</span></a>
          <span class="intermediate"></span>
          <span class="english"></span>
        </td>
        <td class="basic"><a href="/sessions/improve-your-testing-experience-migrate-default-content-module-marinero"
                             target="_blank">Improve your testing experience with the Migrate Default Content module by
            <span>Rodrigo Aguilera</span></a>
          <span class="basic"></span>
        </td>
        <td class="na"><a href="/sessions/empresas-comunidades-opensource-el-cliente-siempre-gana" target="_blank">Empresas
            + Comunidades OpenSource: El cliente siempre gana <span class="author"> {{ 'by'|t }}
              Jose Ramón Padrón</span></a>
          <span class="na"></span>
        </td>
      </tr>
      <tr>
        <th scope="row">18:30</th>
        <td colspan="3">{% trans %}Closing session{% endtrans %}</td>
      </tr>
      <tr>
        <th scope="row">21:00</th>
        <td colspan="3"><a href="{{ path('entity.node.canonical', {'node': 47}) }}">{% trans %}Party{% endtrans %}</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>