<div class="schedule-wrapper">


    <div class="node__header">
        <h1>{{ title }}</h1>
    </div>

    <div class="inner">
        <h2>{% trans %}Saturday{% endtrans %}</h2>

        <div class="legend">
            <div class="basic">{% trans %}Basic{% endtrans %}</div>
            <div class="intermediate">{% trans %}Intermediate{% endtrans %}</div>
            <div class="advanced">{% trans %}Advanced{% endtrans %}</div>
            <div class="featured">{% trans %}Featured{% endtrans %}</div>
            <div class="sponsored">{% trans %}Sponsored{% endtrans %}</div>
            <div class="english">{% trans %}English{% endtrans %}</div>
        </div>

        <!-- Friday Schedule -->
        <table>

            <thead>
            <tr>
                <th scope="row">&nbsp;</th>
                <th scope="col">Sala foo</th>
                <th scope="col">Sala bar</th>
            </tr>
            </thead>

            <tbody>

            <tr>
                <th scope="row">09:00</th>
                <td colspan="2">{% trans %}Registration - Badge Pick-Up{% endtrans %}</td>
            </tr>

            <tr>
                <th scope="row">09:30</th>
                <td colspan="2">{% trans %}Opening session{% endtrans %}</td>
            </tr>

            <tr>
                <th scope="row">10:00</th>

                <td class="featured basic">
                    <a href="#" target="_blank">{{ 'Featured session'|t }} <span class="author"> {{ 'by'|t }} Preston So</span></a>
                    <span class="featured"></span>
                </td>

                <td class="intermediate">
                    <a href="/sessions/foo" target="_blank">Elasticsearch 101 <span class="author"> {{ 'by'|t }} Ignacio S치nchez</span></a>
                    <span class="intermediate"></span>
                </td>

            </tr>

            <tr>
                <th scope="row">10:45</th>
                <td colspan="2">{{ 'Break'|t }}</td>
            </tr>

            <tr>
                <th scope="row">10:00</th>

                <td class="featured basic">
                    <a href="#" target="_blank">{{ 'Featured session'|t }} <span class="author"> {{ 'by'|t }} Preston So</span></a>
                    <span class="featured"></span>
                </td>

                <td class="intermediate">
                    <a href="/sessions/foo" target="_blank">Elasticsearch 101 <span class="author"> {{ 'by'|t }} Ignacio S치nchez</span></a>
                    <span class="intermediate"></span>
                </td>

            </tr>

            <tr class="break">
                <th scope="row">11:45</th>
                <td colspan="2">{{ 'Coffee'|t }}</td>
            </tr>

            <tr>
                <th scope="row">10:00</th>

                <td class="featured basic">
                    <a href="#" target="_blank">{{ 'Featured session'|t }} <span class="author"> {{ 'by'|t }} Preston So</span></a>
                    <span class="featured"></span>
                </td>

                <td class="intermediate">
                    <a href="/sessions/foo" target="_blank">Elasticsearch 101 <span class="author"> {{ 'by'|t }} Ignacio S치nchez</span></a>
                    <span class="intermediate"></span>
                </td>

            </tr>

            <tr>
                <th scope="row">10:45</th>
                <td colspan="2">{{ 'Break'|t }}</td>
            </tr>

            <tr>
                <th scope="row">10:00</th>

                <td class="featured basic">
                    <a href="#" target="_blank">{{ 'Featured session'|t }} <span class="author"> {{ 'by'|t }} Preston So</span></a>
                    <span class="featured"></span>
                </td>

                <td class="intermediate">
                    <a href="/sessions/foo" target="_blank">Elasticsearch 101 <span class="author"> {{ 'by'|t }} Ignacio S치nchez</span></a>
                    <span class="intermediate"></span>
                </td>

            </tr>

            <tr class="break">
                <th scope="row">11:45</th>
                <td colspan="2">{{ 'Coffee'|t }}</td>
            </tr>


            <tr class="break">
                <th scope="row">14:15</th>
                <td colspan="2">{% trans %}Group photo{% endtrans %}</td>
            </tr>

            <tr class="break">
                <th scope="row">14:30</th>
                <td colspan="2">{% trans %}Lunch time{% endtrans %}</td>
            </tr>


            <tr class="break">
                <th scope="row">21:00</th>
                <td colspan="2"><a href="{{ path('entity.node.canonical', {'node': 71}) }}" target="_blank">{% trans %}Saturday Night Party{% endtrans %}</a>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- Sunday Schedule -->

        Completar la tabla del domingo
    </div>
</div>
