<div class="schedule-wrapper">


  <div class="node__header">
    <h1>{{ title }}</h1>
  </div>

  <div class="inner">
    <h2>{% trans %}Saturday{% endtrans %}</h2>

    <div class="legend">
      <div class="basic">{% trans %}Basic{% endtrans %}</div>
      <div class="intermediate">{% trans %}Intermediate{% endtrans %}</div>
      <div class="advanced">{% trans %}Advanced{% endtrans %}</div>
      <div class="featured">{% trans %}Featured{% endtrans %}</div>
      <div class="sponsored">{% trans %}Sponsored{% endtrans %}</div>
      <div class="english">{% trans %}English{% endtrans %}</div>
    </div>

    <!-- Friday Schedule -->
    <table>

      <thead>
      <tr>
        <th scope="row">&nbsp;</th>
        <th scope="col">Sala Aquia (240)</th>
        <th scope="col">Sala Siteground (160)</th>
        <th scope="col">Sala AED (60)</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">09:00</th>
        <td colspan="3">{% trans %}Registration - Badge Pick-Up{% endtrans %}</td>
      </tr>
      <tr>
        <th scope="row">09:30</th>
        <td>{% trans %}Opening session{% endtrans %}</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <th scope="row">10:00</th>

        <td>
          <a href="/sessions/drupal-admin-modernization-design-processes-integration-open-source-community-chumillas" target="_blank">
            Drupal Admin Modernization: design processes integration in an Open Source community
            <span class="author"> {{ 'by'|t }} Cristina Chumillas</span>
          </a>
          <span class="">N/A</span>
        </td>

        <td>
          <a href="/sessions/las-tripas-de-un-sistema-solr-estoyausente" target="_blank">
            Las tripas de un sistema Solr
            <span class="author"> {{ 'by'|t }} Samuel Solís</span>
          </a>
          <span class="intermediate"></span>
        </td>

        <td>
          <a href="/sessions/qa-en-seo-amigos-con-derecho-roce-beagonpoz" target="_blank">
            QA en SEO: amigos con derecho a roce
            <span class="author"> {{ 'by'|t }} Beatriz González Pozo</span>
          </a>
          <span class="basic"></span>
        </td>

      </tr>



      <tr>
        <th scope="row">10:00</th>

        <td>
          <a href="/sessions/graphql-and-twig-decouple-drupals-front-end" target="_blank">
            GraphQL and twig: decouple Drupal's front end
            <span class="author"> {{ 'by'|t }} Fran Garcia-Linares</span>
          </a>
          <span class="advanced"></span>
        </td>

        <td>
          <a href="/sessions/10-tips-imprescindibles-para-empezar-desarrollar-en-drupal-8-alvar0hurtad0" target="_blank">
            10 tips imprescindibles para empezar a desarrollar en drupal 8
            <span class="author"> {{ 'by'|t }} Alvaro J Hurtado</span>
          </a>
          <span class="basic"></span>
        </td>

        <td>
          <a href="/sessions/0-100-drupificial-intelligence-woutersf" target="_blank">
            From 0 to 100 in drupificial intelligence
            <span class="author"> {{ 'by'|t }} Frederik-Andreas Wouters</span>
          </a>
          <span class="intermediate"></span>
        </td>

      </tr>


      <tr>
        <th scope="row">10:00</th>

        <td>
          <a href="/sessions/el-rendimiento-es-tambien-trabajo-diario-isholgueras" target="_blank">
            El rendimiento es también trabajo diario
            <span class="author"> {{ 'by'|t }} Ignacio Sánchez Holgueras</span>
          </a>
          <span class="intermediate"></span>
        </td>

        <td>
          <a href="/sessions/ci-made-dead-simple-drupal-8-gitlab-and-platformsh-bbujisic" target="_blank">
            CI made dead simple with Drupal 8, GitLab and Platform.sh
            <span class="author"> {{ 'by'|t }} Branislav Bujisic</span>
          </a>
          <span class="advanced"></span>
        </td>

        <td>
          <a href="/sessions/drupal-vs-wordpress-technical-comparison-kaidotoomingas" target="_blank">
            Drupal vs Wordpress technical comparison
            <span class="author"> {{ 'by'|t }} Kaido Toomingas</span>
          </a>
          <span class="english"></span>
        </td>

      </tr>


      <tr>
        <th scope="row">10:00</th>

        <td>
          <a href="/sessions/views-101-joselakatos" target="_blank">
            Views 101
            <span class="author"> {{ 'by'|t }} Jose Luis Bellido Rojas</span>
          </a>
          <span class="basic"></span>
        </td>

        <td>
          <a href="/sessions/cwg-who-what-where-how-drupalcommunity" target="_blank">
            CWG - who, what, where, how
            <span class="author"> {{ 'by'|t }} Alex Burrows</span>
          </a>
          <span class="">N/A</span>
        </td>

        <td>
          <a href="/sessions/configurando-una-libreria-de-medios-en-drupal-8-luisortizramos" target="_blank">
            Configurando una librería de medios en Drupal 8
            <span class="author"> {{ 'by'|t }} Luis Ortiz Ramos</span>
          </a>
          <span class="basic"></span>
        </td>

      </tr>


      <tr>
        <th scope="row">10:00</th>

        <td>
          <a href="/sessions/introduction-drupal-8-migrations-jpoesen" target="_blank">
            Introduction to Drupal 8 Migrations
            <span class="author"> {{ 'by'|t }} Joeri Poesen</span>
          </a>
          <span class="intermediate"></span>
        </td>

        <td>
          <a href="/sessions/drupal-gatsbyjs-devmartini" target="_blank">
            Drupal + GatsbyJS
            <span class="author"> {{ 'by'|t }} Marco Martino</span>
          </a>
          <span class="basic"></span>
        </td>

        <td>
          <a href="/sessions/drupal-8-cache-api-demystified-fmazeikis" target="_blank">
            Drupal 8 Cache API Demystified
            <span class="author"> {{ 'by'|t }} Feliksas Mazeikis</span>
          </a>
          <span class="intermediate"></span>
        </td>

      </tr>


      <tr>
        <th scope="row">10:00</th>

        <td>
          <a href="/sessions/lets-write-secure-drupal-code-tatarbj" target="_blank">
            Let's write secure Drupal code!
            <span class="author"> {{ 'by'|t }} Balazs Janos Tatar</span>
          </a>
          <span class="basic"></span>
        </td>

        <td>
          <a href="/sessions/evita-problemas-legales-es-facil-jaimearribar" target="_blank">
            Evita problemas legales, ¡es fácil!
            <span class="author"> {{ 'by'|t }} Jaime Arriba Ruiz</span>
          </a>
          <span class="intermediate"></span>
        </td>

        <td>
          <a href="/sessions/dive-deep-drupal-8-render-api-surbhisriwl" target="_blank">
            Dive deep into Drupal 8 Render API
            <span class="author"> {{ 'by'|t }} Surbhi Sriwal</span>
          </a>
          <span class="intermediate"></span>
        </td>

      </tr>


      <tr>
        <th scope="row">10:00</th>

        <td>
          <a href="/sessions/marca-personal-lo-unico-imposible-es-aquello-que-no-intentas" target="_blank">
            Marca personal: Lo único imposible es aquello que no intentas
            <span class="author"> {{ 'by'|t }} MARI ÁNGELES LOZANO REVIDIEGO</span>
          </a>
          <span class="basic"></span>
        </td>

        <td>
          <a href="/sessions/monitorizacion-123-multiples-capas-de-control-con-software-libre-sevanagloria" target="_blank">
            Monitorización 1,2,3 : Múltiples capas de control con software libre
            <span class="author"> {{ 'by'|t }} Daniel Cabrera</span>
          </a>
          <span class="basic"></span>
        </td>

        <td>
          <a href="/sessions/envolviendo-tu-negocio-con-drupal-utilizando-una-arquitectura-orientada-proyectos-jansev3n" target="_blank">
            Envolviendo tu negocio con Drupal utilizando una arquitectura orientada a proyectos
            <span class="author"> {{ 'by'|t }} Juanen Bernal Carrillo</span>
          </a>
          <span class="basic"></span>
        </td>

      </tr>


      <tr>
        <th scope="row">10:00</th>

        <td>
          <a href="/sessions/docker-para-todos-los-publicos-ddev" target="_blank">
            Docker para todos los públicos: DDEV
            <span class="author"> {{ 'by'|t }} Diego Marrufo</span>
          </a>
          <span class="basic"></span>
        </td>

        <td>
          <a href="/sessions/compartir-configuracion-en-entornos-multisite-y-multiprofile-una-odisea-moderna-sanzante" target="_blank">
            Compartir configuración en entornos multisite y multiprofile: Una odisea moderna.
            <span class="author"> {{ 'by'|t }} Ricardo Sanz y David López</span>
          </a>
          <span class="advanced"></span>
        </td>

        <td>
          <a href="/sessions/drupal-y-ux-esto-si-va-contigo-hinojossa" target="_blank">
            Drupal y UX: esto sí va contigo
            <span class="author"> {{ 'by'|t }} Carmen Sánchez</span>
          </a>
          <span class="">N/A</span>
        </td>

      </tr>


      <tr>
        <th scope="row">10:00</th>

        <td>
          <a href="/sessions/creating-solid-content-architecture-based-design-patterns-breidert" target="_blank">
            Creating a solid content architecture based on design patterns
            <span class="author"> {{ 'by'|t }} Christoph Breidert</span>
          </a>
          <span class="basic"></span>
        </td>

        <td>
          <a href="/sessions/decoupled-drupal-commerce-react-native-sweber1x" target="_blank">
            Decoupled Drupal Commerce with React Native
            <span class="author"> {{ 'by'|t }} Stefan Weber</span>
          </a>
          <span class="basic"></span>
        </td>

        <td>
          <a href="xxxxx" target="_blank">
            xxxx
            <span class="author"> {{ 'by'|t }} Rocío valdivia</span>
          </a>
          <span class="english"></span>
        </td>

      </tr>



      <tr>
        <th scope="row">10:45</th>
        <td colspan="3">{{ 'Break'|t }}</td>
      </tr>


      <tr class="break">
        <th scope="row">11:45</th>
        <td colspan="3">{{ 'Coffee'|t }}</td>
      </tr>


      <tr>
        <th scope="row">13:15</th>
        <td colspan="3">{{ 'Break'|t }}</td>
      </tr>

      <tr class="break">
        <th scope="row">14:15</th>
        <td colspan="3">{% trans %}Group photo{% endtrans %}</td>
      </tr>

      <tr class="break">
        <th scope="row">14:30</th>
        <td colspan="3">{% trans %}Lunch time{% endtrans %}</td>
      </tr>


      <tr>
        <th scope="row">16:15</th>
        <td colspan="3">{{ 'Break'|t }}</td>
      </tr>


      <tr>
        <th scope="row">17:15</th>
        <td colspan="3"><a href="{{ path('entity.node.canonical', {'node': 50}) }}" target="_blank">{% trans %}Spanish
              Drupal Association assembly{% endtrans %}</a>
        </td>
      </tr>

      <tr class="break">
        <th scope="row">21:00</th>
        <td colspan="3"><a href="{{ path('entity.node.canonical', {'node': 71}) }}" target="_blank">{% trans %}Saturday Night Party{% endtrans %}</a>
        </td>
      </tr>

      </tbody>
    </table>

    <!-- Sunday Schedule -->
    <h2>{% trans %}Sunday{% endtrans %}</h2>
    <div class="legend">
      <div class="basic">{% trans %}Basic{% endtrans %}</div>
      <div class="intermediate">{% trans %}Intermediate{% endtrans %}</div>
      <div class="advanced">{% trans %}Advanced{% endtrans %}</div>
      <div class="featured">{% trans %}Featured{% endtrans %}</div>
      <div class="sponsored">{% trans %}Basic{% endtrans %}</div>
      <div class="english">{% trans %}English{% endtrans %}</div>
    </div>
    Copiar tabla del sabado aqui y adaptarla.
  </div>
</div>
