<div class="schedule-wrapper">


  <div class="node__header">
    <h1>{{ title }}</h1>
  </div>

  <div class="inner">
    <h2>{% trans %}Friday{% endtrans %}</h2>

    <div class="legend">
      <div class="basic">{% trans %}Basic{% endtrans %}</div>
      <div class="intermediate">{% trans %}Intermediate{% endtrans %}</div>
      <div class="advanced">{% trans %}Advanced{% endtrans %}</div>
      <div class="featured">{% trans %}Featured{% endtrans %}</div>
      <div class="sponsored">{% trans %}Sponsored{% endtrans %}</div>
      <div class="english">{% trans %}English{% endtrans %}</div>
    </div>

    <!-- Friday Schedule -->
    <table>

      <thead>
      <tr>
        <th scope="row">&nbsp;</th>
        <th scope="col">Sala 1xINTERNET (198)</th>
        <th scope="col">Sala Balidea (80)</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">08:00</th>
        <td colspan="2">{% trans %}Registration - Badge Pick-Up{% endtrans %}</td>
      </tr>
      <tr>
        <th scope="row">09:00</th>
        <td>{% trans %}Opening session{% endtrans %}</td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <th scope="row">09:30</th>

        <td>
          <a href="/sessions/cwg-who-what-where-how-drupalcommunity" target="_blank">
            CWG - who, what, where, how
            <span class="author"> {{ 'by'|t }} Alex Burrows</span>
          </a>
          <span class="basic"></span>
        </td>

        <td>
          <a href="/sessions/evita-problemas-legales-es-facil-jaimearribar" target="_blank">
            Evita problemas legales, ¡es fácil!
            <span class="author"> {{ 'by'|t }} Jaime Arriba Ruiz</span>
          </a>
          <span class="intermediate"></span>
        </td>
      </tr>


      <tr>
        <th scope="row">10:30</th>

        <td>
          <a href="/sessions/lets-write-secure-drupal-code-tatarbj" target="_blank">
            Let's write secure Drupal code!
            <span class="author"> {{ 'by'|t }} Balazs Janos Tatar</span>
          </a>
          <span class="basic"></span>
        </td>

        <td>
          <a href="/sessions/marca-personal-lo-unico-imposible-es-aquello-que-no-intentas" target="_blank">
            Marca personal: Lo único imposible es aquello que no intentas
            <span class="author"> {{ 'by'|t }} Mari Ángeles Lozano Revidiego</span>
          </a>
          <span class="basic"></span>
        </td>

      </tr>


      <tr>
        <th scope="row">11:30</th>

        <td>
          <a href="/sessions/dive-deep-drupal-8-render-api-surbhisriwl" target="_blank">
            Dive deep into Drupal 8 Render API
            <span class="author"> {{ 'by'|t }} Surbhi Sriwal</span>
          </a>
          <span class="intermediate"></span>
        </td>

        <td>
          <a href="/sessions/envolviendo-tu-negocio-con-drupal-utilizando-una-arquitectura-orientada-proyectos-jansev3n" target="_blank">
            Envolviendo tu negocio con Drupal utilizando una arquitectura orientada a proyectos
            <span class="author"> {{ 'by'|t }} Juanen Bernal Carrillo</span>
          </a>
          <span class="basic"></span>
        </td>

      </tr>


      <tr>
        <th scope="row">12:30</th>

        <td>
          <a href="/sessions/drupal-8-cache-api-demystified-fmazeikis" target="_blank">
            Views 101
            <span class="author"> {{ 'by'|t }} Feliksas Mazeikis</span>
          </a>
          <span class="intermediate"></span>
        </td>

        <td>
          <a href="/sessions/configurando-una-libreria-de-medios-en-drupal-8-luisortizramos" target="_blank">
            CWG - who, what, where, how
            <span class="author"> {{ 'by'|t }} Luis Ortiz Ramos</span>
          </a>
          <span class="basic"></span>
        </td>

      </tr>

      <tr class="break">
        <th scope="row">13:30</th>
        <td colspan="3">{% trans %}Group photo{% endtrans %}</td>
      </tr>

      <tr class="break">
        <th scope="row">13:45</th>
        <td colspan="2">{% trans %}Lunch time{% endtrans %}</td>
      </tr>

      <tr>
        <th scope="row">15:30</th>

        <td>
          <a href="/sessions/decoupled-drupal-commerce-react-native-sweber1x" target="_blank">
            Decoupled Drupal Commerce with React Native
            <span class="author"> {{ 'by'|t }} Stefan Weber</span>
          </a>
          <span class="basic"></span>
        </td>

        <td>
          <a href="/sessions/el-rendimiento-es-tambien-trabajo-diario-isholgueras" target="_blank">
            El rendimiento es también trabajo diario
            <span class="author"> {{ 'by'|t }} Ignacio Sánchez Holgueras</span>
          </a>
          <span class="intermediate"></span>
        </td>

      </tr>


      <tr>
        <th scope="row">16:30</th>

        <td>
          <a href="/sessions/graphql-and-twig-decouple-drupals-front-end" target="_blank">
            GraphQL and twig: decouple Drupal's front end
            <span class="author"> {{ 'by'|t }} Fran Garcia-Linares</span>
          </a>
          <span class="high"></span>
        </td>

        <td>
          <a href="/sessions/docker-para-todos-los-publicos-ddev" target="_blank">
            Docker para todos los públicos: DDEV
            <span class="author"> {{ 'by'|t }} Diego Marrufo</span>
          </a>
          <span class="basic"></span>
        </td>

      </tr>


      <tr>
        <th scope="row">17:30</th>

        <td>
          <a href="/sessions/drupal-gatsbyjs-devmartini" target="_blank">
            Drupal + GatsbyJS
            <span class="author"> {{ 'by'|t }} Marco Martino</span>
          </a>
          <span class="basic"></span>
        </td>

        <td>
          <a href="/sessions/compartir-configuracion-en-entornos-multisite-y-multiprofile-una-odisea-moderna-sanzante" target="_blank">
            Compartir configuración en entornos multisite y multiprofile: Una odisea moderna.
            <span class="author"> {{ 'by'|t }} Ricardo Sanz y David López</span>
          </a>
          <span class="basic"></span>
        </td>

      </tr>

      <tr>
        <th scope="row">17:15</th>
        <td colspan="3"><a href="{{ path('entity.node.canonical', {'node': 50}) }}" target="_blank">{% trans %}Spanish
              Drupal Association assembly{% endtrans %}</a>
        </td>
      </tr>

      <tr class="break">
        <th scope="row">21:00</th>
        <td colspan="3"><a href="{{ path('entity.node.canonical', {'node': 71}) }}" target="_blank">{% trans %}Saturday Night Party{% endtrans %}</a>
        </td>
      </tr>

      </tbody>
    </table>

    <!-- Saturday Schedule -->
    <h2>{% trans %}Saturday{% endtrans %}</h2>
    <div class="legend">
      <div class="basic">{% trans %}Basic{% endtrans %}</div>
      <div class="intermediate">{% trans %}Intermediate{% endtrans %}</div>
      <div class="advanced">{% trans %}Advanced{% endtrans %}</div>
      <div class="featured">{% trans %}Featured{% endtrans %}</div>
      <div class="sponsored">{% trans %}Basic{% endtrans %}</div>
      <div class="english">{% trans %}English{% endtrans %}</div>
    </div>

    <table>

      <thead>
      <tr>
        <th scope="row">&nbsp;</th>
        <th scope="col">Sala 1xINTERNET (198)</th>
        <th scope="col">Sala Balidea (80)</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">08:00</th>
        <td colspan="2">{% trans %}Registration - Badge Pick-Up{% endtrans %}</td>
      </tr>
      <tr>
        <th scope="row">09:00</th>
        <td>{% trans %}Opening session{% endtrans %}</td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <th scope="row">09:30</th>

        <td>
          <a href="/sessions/cwg-who-what-where-how-drupalcommunity" target="_blank">
            CWG - who, what, where, how
            <span class="author"> {{ 'by'|t }} Alex Burrows</span>
          </a>
          <span class="basic"></span>
        </td>

        <td>
          <a href="/sessions/evita-problemas-legales-es-facil-jaimearribar" target="_blank">
            Evita problemas legales, ¡es fácil!
            <span class="author"> {{ 'by'|t }} Jaime Arriba Ruiz</span>
          </a>
          <span class="intermediate"></span>
        </td>
      </tr>


      <tr>
        <th scope="row">10:30</th>

        <td>
          <a href="/sessions/lets-write-secure-drupal-code-tatarbj" target="_blank">
            Let's write secure Drupal code!
            <span class="author"> {{ 'by'|t }} Balazs Janos Tatar</span>
          </a>
          <span class="basic"></span>
        </td>

        <td>
          <a href="/sessions/marca-personal-lo-unico-imposible-es-aquello-que-no-intentas" target="_blank">
            Marca personal: Lo único imposible es aquello que no intentas
            <span class="author"> {{ 'by'|t }} Mari Ángeles Lozano Revidiego</span>
          </a>
          <span class="basic"></span>
        </td>

      </tr>


      <tr>
        <th scope="row">11:30</th>

        <td>
          <a href="/sessions/dive-deep-drupal-8-render-api-surbhisriwl" target="_blank">
            Dive deep into Drupal 8 Render API
            <span class="author"> {{ 'by'|t }} Surbhi Sriwal</span>
          </a>
          <span class="intermediate"></span>
        </td>

        <td>
          <a href="/sessions/envolviendo-tu-negocio-con-drupal-utilizando-una-arquitectura-orientada-proyectos-jansev3n" target="_blank">
            Envolviendo tu negocio con Drupal utilizando una arquitectura orientada a proyectos
            <span class="author"> {{ 'by'|t }} Juanen Bernal Carrillo</span>
          </a>
          <span class="basic"></span>
        </td>

      </tr>


      <tr>
        <th scope="row">12:30</th>

        <td>
          <a href="/sessions/drupal-8-cache-api-demystified-fmazeikis" target="_blank">
            Views 101
            <span class="author"> {{ 'by'|t }} Feliksas Mazeikis</span>
          </a>
          <span class="intermediate"></span>
        </td>

        <td>
          <a href="/sessions/configurando-una-libreria-de-medios-en-drupal-8-luisortizramos" target="_blank">
            CWG - who, what, where, how
            <span class="author"> {{ 'by'|t }} Luis Ortiz Ramos</span>
          </a>
          <span class="basic"></span>
        </td>

      </tr>

      <tr class="break">
        <th scope="row">13:30</th>
        <td colspan="3">{% trans %}Group photo{% endtrans %}</td>
      </tr>

      <tr class="break">
        <th scope="row">13:45</th>
        <td colspan="2">{% trans %}Lunch time{% endtrans %}</td>
      </tr>

      <tr>
        <th scope="row">15:30</th>

        <td>
          <a href="/sessions/decoupled-drupal-commerce-react-native-sweber1x" target="_blank">
            Decoupled Drupal Commerce with React Native
            <span class="author"> {{ 'by'|t }} Stefan Weber</span>
          </a>
          <span class="basic"></span>
        </td>

        <td>
          <a href="/sessions/el-rendimiento-es-tambien-trabajo-diario-isholgueras" target="_blank">
            El rendimiento es también trabajo diario
            <span class="author"> {{ 'by'|t }} Ignacio Sánchez Holgueras</span>
          </a>
          <span class="intermediate"></span>
        </td>

      </tr>


      <tr>
        <th scope="row">16:30</th>

        <td>
          <a href="/sessions/graphql-and-twig-decouple-drupals-front-end" target="_blank">
            GraphQL and twig: decouple Drupal's front end
            <span class="author"> {{ 'by'|t }} Fran Garcia-Linares</span>
          </a>
          <span class="high"></span>
        </td>

        <td>
          <a href="/sessions/docker-para-todos-los-publicos-ddev" target="_blank">
            Docker para todos los públicos: DDEV
            <span class="author"> {{ 'by'|t }} Diego Marrufo</span>
          </a>
          <span class="basic"></span>
        </td>

      </tr>


      <tr>
        <th scope="row">17:30</th>

        <td>
          <a href="/sessions/drupal-gatsbyjs-devmartini" target="_blank">
            Drupal + GatsbyJS
            <span class="author"> {{ 'by'|t }} Marco Martino</span>
          </a>
          <span class="basic"></span>
        </td>

        <td>
          <a href="/sessions/compartir-configuracion-en-entornos-multisite-y-multiprofile-una-odisea-moderna-sanzante" target="_blank">
            Compartir configuración en entornos multisite y multiprofile: Una odisea moderna.
            <span class="author"> {{ 'by'|t }} Ricardo Sanz y David López</span>
          </a>
          <span class="basic"></span>
        </td>

      </tr>

      <tr>
        <th scope="row">17:15</th>
        <td colspan="3"><a href="{{ path('entity.node.canonical', {'node': 50}) }}" target="_blank">{% trans %}Spanish
              Drupal Association assembly{% endtrans %}</a>
        </td>
      </tr>

      <tr class="break">
        <th scope="row">21:00</th>
        <td colspan="3"><a href="{{ path('entity.node.canonical', {'node': 71}) }}" target="_blank">{% trans %}Saturday Night Party{% endtrans %}</a>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
