<div class="frontpage-wrapper">
  <section id="intro" class="section">
    <div class="sub">
      <div class="content">
        <div class="top-area">
          <div class="inner">

            <a class="scroll-down" href="#"><img class="arrow" src="{{ base_path ~ directory }}/images/arrow.svg"
                                                 alt="Arrow down"/></a>
          </div>
        </div>
        <div class="bottom-area">
          {% trans %} Two days of Drupal presentations, workshops and networking {% endtrans %}
        </div>
      </div>
    </div>
  </section>
  <div id="scroll-to-anchor"></div>

  <section id="speakers" class="section">
    <div class="sub">
      <div class="content">
        <h2>{% trans %}Confirmed speakers{% endtrans %}</h2>
          {{ speakers }}
        <div class="send-proposals">

          <a class="button" href="https://docs.google.com/forms/d/11AsO7SkeRNopvIFBATMbF9ya5z2T5ByMMGERSUhnEzo" target="_blank">Submit your proposal</a>
          <div class="content">
            <h3>{% trans %}Propose your session{% endtrans %}</h3>
            <div class="deadline">{% trans %}Call4Papers ends on April the 10th{% endtrans %}</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="sponsors" class="section">
    <div class="sub">
      <div class="content">
          {{ sponsors }}
        <div id="individual_sponsors" class="individual-sponsors">
          <h3>Individual sponsors</h3>
          <ul class="individual-sponsors__list">
              {% for individual_sponsor in individual_sponsors %}
                <li class="individual-sponsors__item">
                  <a class="individual-sponsors__link" href="{{ individual_sponsor.getProfileUrl() }}" target="_blank">
                    <img src="{{ individual_sponsor.getHeadshot() ?: default_headshot  }}" class="individual-sponsors__img"/>
                    <div class="individual-sponsors__name">{{ individual_sponsor.getName() }}</div>
                    <div class="individual-sponsors__nick">({{ individual_sponsor.getNickname() }})</div>
                  </a>
                </li>
              {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="become-a-sponsor" class="section">
    <div class="sub">
      <div class="content">
        <h2>{% trans %}Become a sponsor{% endtrans %}</h2>
        {{ become_a_sponsor }}
      </div>
    </div>
  </section>

  <section id="community" class="section">
    <div class="sub">
      <div class="content">
        <h2>{% trans %}Join our community{% endtrans %}</h2>
        {{ community }}
      </div>
    </div>
  </section>


</div>
