<header class="header">
  <div class="container">
    <div class="logo">
      <a href="#">
        <img src="https://via.placeholder.com/50x50" alt="[ Logo ]">
        <h2>DRUPAL CAMP <br>SPAIN 2020</h2>
      </a>
    </div>

{#    <nav class="navigation">#}
{#      <div class="burger"></div>#}
{#      <ul>#}
{#        <li>#}
{#          <a href="#">Item</a>#}
{#        </li>#}
{#        <li>#}
{#          <a href="#">Item</a>#}
{#        </li>#}
{#        <li>#}
{#          <a href="#">Item</a>#}
{#        </li>#}
{#        <li>#}
{#          <a href="#">Item</a>#}
{#        </li>#}
{#      </ul>#}
{#    </nav>#}
  </div>
</header>

<div class="hero">
  <h1>Dos d칤as de Drupal, contenidos digitales, <br>talleres, networking y mucha diversi칩n</h1>
  <h2>11, 12 y 13 de JUNIO</h2>
  <h3>- M츼LAGA -</h3>

  <div class="overflow-footer container">
    <p>춰La Drupalcamp cumple 游꾹10 a침itos游꾹! y lo vamos a celebrar todos juntos en M치laga.</p>
    <p>Pronto pondremos m치s informaci칩n, 춰estad atentos!</p>
  </div>
</div>

{#<div class="confirmed-speakers container">#}
{#  <h2>CONFIRMED SPEAKERS</h2>#}

{#  <div class="list">#}
{#    <div>#}
{#      <img src="https://via.placeholder.com/261x194" alt="[ Speaker name ]">#}
{#    </div>#}
{#    <div>#}
{#      <img src="https://via.placeholder.com/261x194" alt="[ Speaker name ]">#}
{#    </div>#}
{#    <div>#}
{#      <img src="https://via.placeholder.com/261x194" alt="[ Speaker name ]">#}
{#    </div>#}
{#    <div>#}
{#      <img src="https://via.placeholder.com/261x194" alt="[ Speaker name ]">#}
{#    </div>#}
{#  </div>#}
{#</div>#}

<div class="about-drupalcamp container clearfix">
  <div class="content">
    <h2>SOBRE LA DRUPALCAMP</h2>
    <p>Una Drupalcamp es un evento que trata muchos aspectos de Drupal y se celebra en un lugar concreto. El objetivo principal es compartir conocimiento en la comunidad al estar juntos en el mismo lugar durante varios d칤as centrados en Drupal. Algunas de las actividades incluyen sesiones y ponencias, networking, un business day, formacion y eventos sociales.</p>
    <p>Este a침o 2020 se celebra el d칠cimo aniversario de la Drupalcamp y estamos preparando muchos contenidos y actividades para congregar a toda la comunidad espa침ola de Drupal en Junio en M치laga.</p>
  </div>
  <img src="/{{ directory }}/images/malaga-picture-1-resized.png" alt="DrupalCamp Spain 2020">
</div>

<div class="about-venue container clearfix">
  <div class="content">
    <h2>SOBRE EL POLO DIGITAL</h2>
    <p>Innovar, creer y sorprender. Esas son las bases del equipo humano que hace posible el <a href="https://www.polodigital.eu/">Polo Nacional de Contenidos Digitales de M치laga</a>, dependiente de la empresa municipal <a href="http://www.promalaga.es/">Prom치laga</a>. Creemos en las personas, la creatividad y la innovaci칩n y nos implicamos en cada proyecto que llega al Polo Digital d치ndole apoyo, escuchando las propuestas y ayud치ndole en lo que necesite. Todo ello sin perder de vista el esp칤ritu con el que nace el Polo Digital, un espacio rompedor y multisdiplinar en el que crear y trabajar por y para los proyectos basados en contenidos digitales que acogemos.</p>
    <a href="https://www.google.com/maps/dir/36.6900658,-4.4529878/polo+digital+ubicacion/@36.6940474,-4.4559655,15z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0xd72f77fe30405e5:0xb44f7091e40acc9e!2m2!1d-4.4391211!2d36.6989071">C칍MO LLEGAR</a>
  </div>
  <img src="https://via.placeholder.com/870x590" alt="Polo Digital">
</div>

<div class="about-business-day container">
  <div class="content">
    <h2>BUSINESS DAY</h2>
    <p>Durante esta DrupalCamp organizaremos el VII Business Day, una jornada pensada para las empresas y enfocada a facilitar networking y tomar el pulso al mercado.</p>
    <p>Ponte en contacto con nosotros si te interesa participar.</p>
  </div>
  <img src="/{{ directory }}/images/openspace-drupal.jpg" alt="Business Day">
</div>


<div class="sponsors">
  <div class="container">
    {#    <h2>SPONSORS</h2>#}
    {#    <div class="content">#}
    {#      <a href="#">#}
    {#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
    {#      </a>#}
    {#      <a href="#">#}
    {#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
    {#      </a>#}
    {#      <a href="#">#}
    {#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
    {#      </a>#}
    {#      <a href="#">#}
    {#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
    {#      </a>#}
    {#      <a href="#">#}
    {#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
    {#      </a>#}
    {#      <a href="#">#}
    {#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
    {#      </a>#}
    {#      <a href="#">#}
    {#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
    {#      </a>#}
    {#      <a href="#">#}
    {#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
    {#      </a>#}
    {#      <a href="#">#}
    {#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
    {#      </a>#}
    {#      <a href="#">#}
    {#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
    {#      </a>#}
    {#      <a href="#">#}
    {#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
    {#      </a>#}
    {#      <a href="#">#}
    {#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
    {#      </a>#}
    {#      <a href="#">#}
    {#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
    {#      </a>#}
    {#      <a href="#">#}
    {#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
    {#      </a>#}
    {#      <a href="#">#}
    {#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
    {#      </a>#}
    {#      <a href="#">#}
    {#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
    {#      </a>#}
    {#      <a href="#">#}
    {#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
    {#      </a>#}
    {#    </div>#}
    <h2>COLABORADORES Y AGRADECIMIENTOS</h2>
    <div class="content">
      <a href="https://www.polodigital.eu/">
        <img src="/{{ directory }}/images/logos/polo-digital.png" alt="Polo Digital">
      </a>
      <a href="https://www.polodigital.eu/">
        <img src="/{{ directory }}/images/logos/ayuntamiento-malaga.png" alt="Ayuntamiento de M치laga">
      </a>
    </div>
  </div>
</div>

<div class="aed-cta">
  <div class="content">
    <img src="/{{ directory }}/images/logos/logo-aed-white.png" alt="Asociaci칩n Espa침ola de drupal">
    <h2>HAZTE SOCIO</h2>
    <p>La comunidad espa침ola de Drupal crece cada a침o. Empresas, aut칩nomos y estudiantes forman parte de una de las familias m치s influyentes de la industria web. .</p>
    <a href="https://asociaciondrupal.es">칔NETE A LA RED</a>
  </div>
</div>

{#<div class="footer-first">#}
{#  <ul>#}
{#    <li>#}
{#      <a href="#">VENUE</a>#}
{#    </li>#}
{#    <li>#}
{#      <a href="#">SURVIVAL GUIDE</a>#}
{#    </li>#}
{#    <li>#}
{#      <a href="#">BUSINESS DAY</a>#}
{#    </li>#}
{#  </ul>#}
{#</div>#}

<div class="footer-second">#}
  <ul>
{#    <li>#}
{#      <a href="#">Badges</a>#}
{#    </li>#}
{#    <li>#}
{#      <a href="#">Selection Criteria</a>#}
{#    </li>#}
{#    <li>#}
{#      <a href="#">Speaker guidelines</a>#}
{#    </li>#}
    <li>
      <a href="https://docs.google.com/document/d/1einKw4HtjqqXjf6IMdev0wXYba_jneA3IZKLGbTp8Xk/edit?usp=sharing">C칩digo de conducta</a>
    </li>
  </ul>
</div>

<div class="post-footer">
  <p>춸 2020 <a href="https://asociaciondrupal.es">Asociaci칩n Espa침ola de Drupal</a></p>
</div>
